{% extends "bootstrap/base.html"  %}
{% block title %}Test Tool{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <!--<a class="navbar-brand" href="{{url_for('index')}}">Trips</a>-->
        <a class="navbar-brand" href="/">Home</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    TestLink Tool <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/excel2xml">excel2xml</a></li>
                    <li class="divider"></li>
                    <li><a href="/getTestProgress">获取测试进度</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="/excel2jira" id="excel2jira">Excel2Jira</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Test Report <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/showPerf">Native Report</a></li>
                    <li class="divider"></li>
                    <li><a href="/showPerf">WebRTC Report</a></li>
                    <li class="divider"></li>
                    <li><a href="/showPerf">主版本CPU内存 Report</a></li>
                </ul>
            </li>

            <li><a href="https://postwoman.io/">Postwoman</a></li>
            <li><a href="#" id="jenkins">Jenkins</a></li>
            <li><a href="#" id="FileBrowser">FileBrowser</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {% if login_user %}
                <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown">
                hi,{{ login_user }} <b class="caret"></b>
                </a>
               {% else %}
                    <a href="{{ url_for('login') }}">登录</a>
              {% endif %}
            <ul class="dropdown-menu">
                <li><a href="/setting">setting</a></li>
                <li><a href="/users">users</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">注销</a></li>
            </ul>
        </li>
        </ul>

    </div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>
<div class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>Copyright &copy;2019 TestTool By Lisen sui</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        window.onload = function setValue(){
            let a = document.getElementById("jenkins");
            let b = document.getElementById("FileBrowser");
            $.ajax({
                url:'/getConfig',
                type:'get',
                dataType: 'json',
                error:function(){
                    alert('出现错误！');
                },success:function (data){
                    if(data.status == 200){
                        a.href = data.message["jenkins"];
                        b.href = data.message["FileBrowser"];
                    }
                }
            })
        };
    </script>
{% endblock %}