{% extends "bootstrap/base.html"  %}
{% block title %}Test Tool{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <!--<a class="navbar-brand" href="{{url_for('showHome')}}">Trips</a>-->
        <a class="navbar-brand" href="/index.html">Home</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/users">user info</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown">
                hi <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">setting</a></li>
                <li class="divider"></li>
                <li><a href="/">logout</a></li>
            </ul>
        </li>
        </ul>

    </div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}