{% extends "baseNavbar.html" %}
{% block title %}Test Tool | Perf{% endblock %}
{% block page_content %}
<div id="main" style="width: 1000px;height:500px"></div>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>
    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    option = {
    title: {
        text: 'getCPUMEM',
        show:false
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[]
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',// 控制图表上下左右的空白尺寸
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : []// X轴的定义
        }
    ],
    yAxis : [
        {
            type : 'value'// Y轴的定义
        }
    ],
    series : []// 数据
};
      //加载数据
      jQuery.ajax({
        url:"/getCPUMEM",
        type:'get',
        dataType:'json',
        success:function(jsons){
            var Item = function(){
                return {
                    name:'',
                    type:'line',
                    {#smooth:true,  //这个是把线变成曲线#}
                    {#label: {normal: {show: true,position: 'top'}}, // 显示每个点的数值#}
                    markLine: {data: [{type: 'average', name: '平均值'}]},
                    data:[]
                    }
                };
            var legends = [];
            var Series = [];
            var json = jsons.data;
            for(var i=0;i < json.length;i++){
                var it = new Item();
                it.name = json[i].name;
                legends.push(json[i].name);
                it.data = json[i].data;
                Series.push(it);
            }

            option.xAxis[0].data = jsons.xcontent;
                    option.legend.data = legends;
                        option.series = Series; // 设置图表
                       myChart.setOption(option);// 重新加载图表
        },
        error:function(){
            alert("数据加载失败！请检查数据链接是否正确");
        }
    });
        // 初次加载图表(无数据)
        myChart.setOption(option);
    </script>
{% endblock %}