{% extends "baseNavbar.html" %}
{% block title %}Test Tool | Native Report{% endblock %}
{% block page_content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						请选择
					</h3>
				</div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed">
				<tbody>
					<tr>
                        <td width='11%'>
                            版本：
                        </td>
						<td>
                            <input type="checkbox" id="version_native" onclick="checkOrCancelAll(this.id)">&nbsp;all&nbsp;&nbsp;
                            {% for version in versions %}
                                <input type="checkbox" name="version_native" value={{ version }}>&nbsp;{{ version }}&nbsp;&nbsp;
                            {% endfor %}
                        </td>
					</tr>
                    <tr>
                        <td>
                            Bug统计：
                        </td>
						<td>
                            <input type="checkbox" id="bugCount" onclick="checkOrCancelAll(this.id)">&nbsp;all&nbsp;&nbsp;
                            <input type="checkbox" name="bugCount" value="total">&nbsp;total&nbsp;&nbsp;
                            <input type="checkbox" name="bugCount" value="demo">&nbsp;demo&nbsp;&nbsp;
                            <input type="checkbox" name="bugCount" value="sdk">&nbsp;sdk&nbsp;&nbsp;
                            <input type="checkbox" name="bugCount" value="video">&nbsp;video&nbsp;&nbsp;
                            <input type="checkbox" name="bugCount" value="audio">&nbsp;audio&nbsp;&nbsp;
                            <input type="checkbox" name="bugCount" value="crash">&nbsp;nativeCrash&nbsp;&nbsp;
                        </td>
					</tr>
                    <tr>
                        <td>
                            通过率：
                        </td>
						<td>
                            <input type="checkbox" name="rate" value="firstTimePassRate">&nbsp; feature一次验收通过率&nbsp;&nbsp;
                        </td>
					</tr>
                    <tr>
                        <td>
                            各阶段Bug统计：
                        </td>
						<td>
                            <input type="checkbox" id="PhaseBugCount" onclick="checkOrCancelAll(this.id)">&nbsp;all&nbsp;&nbsp;
                            <input type="checkbox" name="PhaseBugCount" value="acceptancePhase">&nbsp;验收阶段&nbsp;&nbsp;
                            <input type="checkbox" name="PhaseBugCount" value="regressionPhase">&nbsp;回归阶段&nbsp;&nbsp;
                            <input type="checkbox" name="PhaseBugCount" value="acceptancePhaseRate">&nbsp;验收阶段bug占比&nbsp;&nbsp;
                            <input type="checkbox" name="PhaseBugCount" value="regressionPhaseRate">&nbsp;回归阶段bug占比&nbsp;&nbsp;
                        </td>
					</tr>
                    <tr>
                        <td>
                            回退率：
                        </td>
						<td>
                            <input type="checkbox" name="fallbackRate" value="fallbackRate">&nbsp; 回退率&nbsp;&nbsp;
                        </td>
					</tr>
                    <tr>
                        <td>
                            云测崩溃率：
                        </td>
						<td>
                            <input type="checkbox" name="cloudCrashRate" value="cloudCrashRate">&nbsp; 云测崩溃率&nbsp;&nbsp;
                        </td>
					</tr>
                    <tr>
                        <td>

                        </td>
						<td>
                            <input type="checkbox" name="codeChangeLine" value="codeChangeLine">&nbsp; 代码改动行数&nbsp;&nbsp;
                            <input type="checkbox" name="bugsForChange" value="bugsForChange">&nbsp; 万行改动问题数&nbsp;&nbsp;
                        </td>
					</tr>
				</tbody>
			</table>
				</div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" onclick="searchNative()" id="btn_search">查找</button>
                    <button type="button" class="btn btn-primary" id="btn_add" href="#modal-container-showReport-1" data-toggle="modal">编辑</button>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="col-md-12 column">
    <div class="modal fade" id="modal-container-showReport-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:1100px">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="form-group">
                        <select id="selectDatabase" class="selectpicker show-tick" title="请选择一项" data-live-search="true" data-size="5">
                            <option>BugCount</option>
                        </select>
                        <button type="button" class="btn btn-primary" id="btn_add" href="#insert-native-showReport-1" data-toggle="modal">新增</button>
				    </div>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-condensed" id="show">
                        <tbody id="showbodynative">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showReportByVersion-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="form-group">
                        更新信息
				    </div>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-condensed">
                        version：<input type="text" id="version" /><p></p>
                        features：<input type="text" id="features"/><p></p>
                        total：<input type="text" id="total"><p></p>
                        demo：<input type="text" id="demo"><p></p>
                        sdk：<input type="text" id="sdk"><p></p>
                        video：<input type="text" id="video"><p></p>
                        audio：<input type="text" id="audio"><p></p>
                        crash：<input type="text" id="crash"><p></p>
                        firstTimePassRate：<input type="text" id="firstTimePassRate"><p></p>
                        acceptancePhase：<input type="text" id="acceptancePhase"><p></p>
                        regressionPhase：<input type="text" id="regressionPhase"><p></p>
                        acceptancePhaseRate：<input type="text" id="acceptancePhaseRate"><p></p>
                        regressionPhaseRate：<input type="text" id="regressionPhaseRate"><p></p>
                        fallbackRate：<input type="text" id="fallbackRate"><p></p>
                        cloudCrashRate：<input type="text" id="cloudCrashRate"><p></p>
                        代码改动行数：<input type="text" id="codeChangeLine"><p></p>
                        万行改动问题数：<input type="text" id="bugsForChange"><p></p>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="updateNative()">更新</button>
                    <button type="button" class="btn btn-primary" onclick="my_confirm(deleteNative,'','确认是否删除')">删除</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="insert-native-showReport-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:1100px">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="form-group">
                        新增信息
				    </div>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-condensed">
                        Index：<input type="text" id="insertIndex" disabled="disabled"/><p></p>
                        version：<input type="text" id="insert-version"/><p></p>
                        features：<input type="text" id="insert-features"/><p></p>
                        total：<input type="text" id="insert-total"><p></p>
                        demo：<input type="text" id="insert-demo"><p></p>
                        sdk：<input type="text" id="insert-sdk"><p></p>
                        video：<input type="text" id="insert-video"><p></p>
                        audio：<input type="text" id="insert-audio"><p></p>
                        crash：<input type="text" id="insert-crash"><p></p>
                        firstTimePassRate：<input type="text" id="insert-firstTimePassRate"><p></p>
                        acceptancePhase：<input type="text" id="insert-acceptancePhase"><p></p>
                        regressionPhase：<input type="text" id="insert-regressionPhase"><p></p>
                        acceptancePhaseRate：<input type="text" id="insert-acceptancePhaseRate"><p></p>
                        regressionPhaseRate：<input type="text" id="insert-regressionPhaseRate"><p></p>
                        fallbackRate：<input type="text" id="insert-fallbackRate"><p></p>
                        cloudCrashRate：<input type="text" id="insert-cloudCrashRate"><p></p>
                        代码改动行数：<input type="text" id="insert-codeChangeLine"><p></p>
                        万行改动问题数：<input type="text" id="insert-bugsForChange"><p></p>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="insertNative()">新增</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main" style="width: 1000px;height:500px"></div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-select/1.12.4/js/i18n/defaults-zh_CN.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
{#    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.js"></script>#}
    <script type="text/javascript" src="../../static/js/my-script.js"></script>
    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    option = {
    title: {
        text: 'title', //可自定义
        show:false
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[]
    },
    toolbox: {
        orient: 'vertical',
        backgroundColor: 'rgba(0,0,0,0)', // 工具箱背景颜色
        borderColor: '#ccc',       // 工具箱边框颜色
        y: 'center',
        feature: {
            dataZoom: {
               yAxisIndex: 'none'
            }, //区域缩放，区域缩放还原
            magicType: {
                type: ['line', 'bar']
                },  //切换为折线图，切换为柱状图
            restore: {},  //还原
            saveAsImage: {}
        }
    },
    grid: {
        left: '3%',
        right: '3%',
        top:"15%",
        bottom: '5%',// 控制图表上下左右的空白尺寸
        containLabel: true, //自适应画布大小
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : []// X轴的定义
        }
    ],
    yAxis : [
        {
            type : 'value'// Y轴的定义
        }
    ],
    series : []// 数据
};
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    {#myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画#}

    function checkOrCancelAll(value){
        //1.获取checkbo的元素对象
        var chElt=document.getElementById(value);
        //2.获取选中状态
        var checkedElt=chElt.checked;
        //3.若checked=true,将所有的复选框选中,checked=false,将所有的复选框取消
        var allCheck=document.getElementsByName(value);
        //4.循环遍历取出每一个复选框中的元素
        if(checkedElt){
            //全选
            for(var i=0;i<allCheck.length;i++){
                //设置复选框的选中状态
                allCheck[i].checked=true;
            }
        }else{
            //取消全选
            for(var i=0;i<allCheck.length;i++){
                allCheck[i].checked=false;
            }
        }
    }

    function searchNative() {
        let version_native_checkList =new Array();
        let index_checkList =new Array();

        let obj_version_native = document.getElementsByName("version_native");
        for (let i = 0; i < obj_version_native.length; i++) {
                if (obj_version_native[i].checked)
                    version_native_checkList.push(obj_version_native[i].value);
        }
        let obj_browser = document.getElementsByName("bugCount");
        for (let i = 0; i < obj_browser.length; i++) {
                if (obj_browser[i].checked)
                    index_checkList.push(obj_browser[i].value);
        }
        let obj_mode = document.getElementsByName("rate");
        for (let i = 0; i < obj_mode.length; i++) {
                if (obj_mode[i].checked)
                    index_checkList.push(obj_mode[i].value);
        }
        let obj_codec = document.getElementsByName("PhaseBugCount");
        for (let i = 0; i < obj_codec.length; i++) {
                if (obj_codec[i].checked)
                    index_checkList.push(obj_codec[i].value);
        }
        let obj_fallbackRate = document.getElementsByName("fallbackRate");
        for (let i = 0; i < obj_fallbackRate.length; i++) {
                if (obj_fallbackRate[i].checked)
                    index_checkList.push(obj_fallbackRate[i].value);
        }
        let obj_cloudCrashRate = document.getElementsByName("cloudCrashRate");
        for (let i = 0; i < obj_cloudCrashRate.length; i++) {
                if (obj_cloudCrashRate[i].checked)
                    index_checkList.push(obj_cloudCrashRate[i].value);
        }

        let obj_codeChangeLine = document.getElementsByName("codeChangeLine");
        for (let i = 0; i < obj_codeChangeLine.length; i++) {
                if (obj_codeChangeLine[i].checked)
                    index_checkList.push(obj_codeChangeLine[i].value);
        }
        let obj_bugsForChange = document.getElementsByName("bugsForChange");
        for (let i = 0; i < obj_bugsForChange.length; i++) {
                if (obj_bugsForChange[i].checked)
                    index_checkList.push(obj_bugsForChange[i].value);
        }
        var params = {
            data:JSON.stringify({
                version_check:version_native_checkList,
                index_check:index_checkList,
            })

        };
        if (index_checkList.length ==0 || version_native_checkList.length ==0){
            my_showTip("请选择需要查看的指标！！！")
        }
        else {
            $.ajax({
             type : "post",
             url : "/showNativeQearyResult",    //请求发送到Servlet处
             dataType : "json",        //返回数据形式为json
             data:params,
             error:function(){
                    alert('请求数据失败,请检查选择条件！');
                    myChart.hideLoading();
                },success:function (jsons){
                    if (jsons) {
                        console.log(jsons);
                        var Item = function(){
                    return {
                        name:'',
                        type:'line',
                        {#smooth:true,  //这个是把线变成曲线#}
                        label: {normal: {show: true,position: 'top'}}, // 显示每个点的数值
                        {#markLine: {data: [{type: 'average', name: '平均值'}]},#}
                        data:[],
                        }
                    };
                        var legends = [];
                        var Series = [];
                        var json = jsons.data;
                        for(var i=0;i < json.length;i++){
                            var it = new Item();
                            it.name = json[i].name;
                            legends.push(json[i].name);
                            it.data = json[i].data;
                            Series.push(it);
                        }
                        option.xAxis[0].data = json[0].xcontent;
                        option.legend.data = legends;
                        option.series = Series; // 设置图表
                        myChart.hideLoading();    //隐藏加载动画
                        myChart.setOption(option,true);// 重新加载图表
                    }
                }
        });
        }

    }

    function genTable(){
        var s = document.getElementById("selectDatabase");
        selectDatabase = s.options[s.selectedIndex].text;
        $.ajax({
             type : "post",
             url : "/getNativeInfo",    //请求发送到Servlet处
             dataType : "json",        //返回数据形式为json
             data:{
                 selectDatabase:selectDatabase
             },
             error:function(){
                    alert('请求数据失败,请检查选择条件！');
                    myChart.hideLoading();
                },success:function (data){
                $("#show tbody").html("");
                 var t = document.getElementById("showbodynative");
                 var tr = document.createElement("tr");
                 var td1 = document.createElement("th");
                 td1.innerHTML = "版本";
                 var td2 = document.createElement("th");
                 td2.innerHTML = "feature数";
                 var td3 = document.createElement("th");
                 td3.innerHTML = "total";
                 var td4 = document.createElement("th");
                 td4.innerHTML = "demo";
                 var td5 = document.createElement("th");
                 td5.innerHTML = "sdk";
                 var td6 = document.createElement("th");
                 td6.innerHTML = "video";
                 var td7 = document.createElement("th");
                 td7.innerHTML = "audio";
                 var td8 = document.createElement("th");
                 td8.innerHTML = "crash";
                 var td9 = document.createElement("th");
                 td9.innerHTML = "一次通过率";
                 var td10 = document.createElement("th");
                 td10.innerHTML = "验收阶段";
                 var td11 = document.createElement("th");
                 td11.innerHTML = "回归阶段";
                 var td12 = document.createElement("th");
                 td12.innerHTML = "验收阶段占比";
                 var td13 = document.createElement("th");
                 td13.innerHTML = "回归阶段占比";
                 var td14 = document.createElement("th");
                 td14.innerHTML = "回退率";
                 var td15 = document.createElement("th");
                 td15.innerHTML = "云测崩溃率";
                 var td16 = document.createElement("th");
                 td16.innerHTML = "代码改动行数";
                 var td17 = document.createElement("th");
                 td17.innerHTML = "万行改动问题数";

                 var tdop = document.createElement("th");
                 tdop.innerHTML = "操作";
                 tr.appendChild(td1);
                 tr.appendChild(td2);
                 tr.appendChild(td3);
                 tr.appendChild(td4);
                 tr.appendChild(td5);
                 tr.appendChild(td6);
                 tr.appendChild(td7);
                 tr.appendChild(td8);
                 tr.appendChild(td9);
                 tr.appendChild(td10);
                 tr.appendChild(td11);
                 tr.appendChild(td12);
                 tr.appendChild(td13);
                 tr.appendChild(td14);
                 tr.appendChild(td15);
                 tr.appendChild(td16);
                 tr.appendChild(td17);
                 tr.appendChild(tdop);
                 t.appendChild(tr);
                 for (i = 0; i < data.data.length; i++) {
                     var tr2 = document.createElement("tr");
                     var td11 = document.createElement("td");
                     td11.innerHTML = data.data[i].version;
                     var td22 = document.createElement("td");
                     td22.innerHTML = data.data[i].features;
                     var td33 = document.createElement("td");
                     td33.innerHTML = data.data[i].total;
                     var td44 = document.createElement("td");
                     td44.innerHTML = data.data[i].demo;
                     var td55 = document.createElement("td");
                     td55.innerHTML = data.data[i].sdk;
                     var td66 = document.createElement("td");
                     td66.innerHTML = data.data[i].video;

                     var td77 = document.createElement("td");
                     td77.innerHTML = data.data[i].audio;
                     var td88 = document.createElement("td");
                     td88.innerHTML = data.data[i].crash;
                     var td99 = document.createElement("td");
                     td99.innerHTML = data.data[i].firstTimePassRate;
                     var td1010 = document.createElement("td");
                     td1010.innerHTML = data.data[i].acceptancePhase;
                     var td1111 = document.createElement("td");
                     td1111.innerHTML = data.data[i].regressionPhase;
                     var td1212 = document.createElement("td");
                     td1212.innerHTML = data.data[i].acceptancePhaseRate;
                     var td1313 = document.createElement("td");
                     td1313.innerHTML = data.data[i].regressionPhaseRate;
                     var td1414 = document.createElement("td");
                     td1414.innerHTML = data.data[i].fallbackRate;
                     var td1515 = document.createElement("td");
                     td1515.innerHTML = data.data[i].cloudCrashRate;
                     var td1616 = document.createElement("td");
                     td1616.innerHTML = data.data[i].codeChangeLine;
                     var td1717 = document.createElement("td");
                     td1717.innerHTML = data.data[i].bugsForChange;
                     var tdopop = document.createElement("td");
                     tdopop.innerHTML = '<a id="showReportByNo" href="#showReportByVersion-1" data-toggle="modal" data-id="'+data.data[i].version+','+selectDatabase+'">更新|删除';
                     tr2.appendChild(td11);
                     tr2.appendChild(td22);
                     tr2.appendChild(td33);
                     tr2.appendChild(td44);
                     tr2.appendChild(td55);
                     tr2.appendChild(td66);
                     tr2.appendChild(td77);
                     tr2.appendChild(td88);
                     tr2.appendChild(td99);
                     tr2.appendChild(td1010);
                     tr2.appendChild(td1111);
                     tr2.appendChild(td1212);
                     tr2.appendChild(td1313);
                     tr2.appendChild(td1414);
                     tr2.appendChild(td1515);
                     tr2.appendChild(td1616);
                     tr2.appendChild(td1717);
                     tr2.appendChild(tdopop);
                     t.appendChild(tr2);
                 }
            }
        })
    };

    $('#selectDatabase').on('changed.bs.select', function () {
        genTable()
    });

    var cateid = 0;
    $('#showReportByVersion-1').on('shown.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        cateid = button.data('id').split(",");
        version = cateid[0];
        index = cateid[1];
        $.ajax({
            url:'/getNativeInfoByVersion',
            type:'post',
            dataType: 'json',
            data:{
                version:version,
                index:index
            },
            error:function(){
                alert('出现错误！');
            },success:function (data){
                let info = data.data[0];
                $('#version').val(info.version);
                $('#features').val(info.features);
                $('#total').val(info.total);
                $('#demo').val(info.demo);
                $('#sdk').val(info.sdk);
                $('#video').val(info.video);
                $('#audio').val(info.audio);
                $('#crash').val(info.crash);
                $('#firstTimePassRate').val(info.firstTimePassRate);
                $('#acceptancePhase').val(info.acceptancePhase);
                $('#regressionPhase').val(info.regressionPhase);
                $('#acceptancePhaseRate').val(info.acceptancePhaseRate);
                $('#regressionPhaseRate').val(info.regressionPhaseRate);
                $('#fallbackRate').val(info.fallbackRate);
                $('#cloudCrashRate').val(info.cloudCrashRate);
                $('#codeChangeLine').val(info.codeChangeLine);
                $('#bugsForChange').val(info.bugsForChange);
                $('#showReportByVersion-1').modal('show');
            }
        });
    });

    $('#insert-native-showReport-1').on('shown.bs.modal', function () {
        let value = $("#selectDatabase option:selected").val();
        if (value){
            $('#insertIndex').val(value);
            $('#insert-native-showReport-1').modal('show');
        } else
        {
            my_showTip("请选择一项需要更新的数据表");
            $('#insert-native-showReport-1').modal('hide');
        }
    });

    $('#modal-container-showReport-1').on('hide.bs.modal', function () {
        location.reload();
    });

    function updateNative() {
    var s = document.getElementById("selectDatabase");
    var selectDatabase = s.options[s.selectedIndex].text;
    var version = $("#version").val();
	var features = $("#features").val();
	var total = $("#total").val();
	var demo = $("#demo").val();
	var sdk = $("#sdk").val();
	var video = $("#video").val();
	var audio = $("#audio").val();
	var crash = $("#crash").val();
	var firstTimePassRate = $("#firstTimePassRate").val();
	var acceptancePhase = $("#acceptancePhase").val();
	var regressionPhase = $("#regressionPhase").val();
	var acceptancePhaseRate = $("#acceptancePhaseRate").val();
	var regressionPhaseRate = $("#regressionPhaseRate").val();
	var fallbackRate = $("#fallbackRate").val();
	var cloudCrashRate = $("#cloudCrashRate").val();
	var codeChangeLine = $('#codeChangeLine').val();
	var bugsForChange = $('#bugsForChange').val()
    $.ajax({
        url:'/updateNativeInfo',
        type:'post',
        dataType: 'json',
        data:{
            database:selectDatabase,
            version:version,
            features:features,
            total:total,
            demo:demo,
            sdk:sdk,
            video:video,
            audio:audio,
            crash:crash,
            firstTimePassRate:firstTimePassRate,
            acceptancePhase:acceptancePhase,
            regressionPhase:regressionPhase,
            acceptancePhaseRate:acceptancePhaseRate,
            regressionPhaseRate:regressionPhaseRate,
            fallbackRate:fallbackRate,
            cloudCrashRate:cloudCrashRate,
            codeChangeLine:codeChangeLine,
            bugsForChange:bugsForChange
        },
        error:function(){
            alert('出现错误！');
        },success:function (data){
            if(data.status == 200){
                $('#showReportByVersion-1').modal('hide');
                genTable();
                {#location.reload();#}
            }else {
                {#alert("无法更新配置信息！！！")#}
                my_showTip(data.message);
            }

        }
    })
}

    function insertNative() {
    var s = document.getElementById("insertIndex");
    var selectDatabase = s.value;
	var version = $("#insert-version").val();
	var features = $("#insert-features").val();
	var total = $("#insert-total").val();
	var demo = $("#insert-demo").val();
	var sdk = $("#insert-sdk").val();
	var video = $("#insert-video").val();
	var audio = $("#insert-audio").val();
	var crash = $("#insert-crash").val();
	var firstTimePassRate = $("#insert-firstTimePassRate").val();
	var acceptancePhase = $("#insert-acceptancePhase").val();
	var regressionPhase = $("#insert-regressionPhase").val();
	var acceptancePhaseRate = $("#insert-acceptancePhaseRate").val();
	var regressionPhaseRate = $("#insert-regressionPhaseRate").val();
	var fallbackRate = $("#insert-fallbackRate").val();
	var cloudCrashRate = $("#insert-cloudCrashRate").val();
	var codeChangeLine = $("#insert-codeChangeLine").val();
	var bugsForChange = $("#insert-bugsForChange").val();
    $.ajax({
        url:'/insertNativeInfo',
        type:'post',
        dataType: 'json',
        data:{
            database:selectDatabase,
            version:version,
            features:features,
            total:total,
            demo:demo,
            sdk:sdk,
            video:video,
            audio:audio,
            crash:crash,
            firstTimePassRate:firstTimePassRate,
            acceptancePhase:acceptancePhase,
            regressionPhase:regressionPhase,
            acceptancePhaseRate:acceptancePhaseRate,
            regressionPhaseRate:regressionPhaseRate,
            fallbackRate:fallbackRate,
            cloudCrashRate:cloudCrashRate,
            codeChangeLine:codeChangeLine,
            bugsForChange:bugsForChange
        },
        error:function(){
            alert('出现错误！');
        },success:function (data){
            if(data.status == 200){
                $('#insert-native-showReport-1').modal('hide');
                genTable();
            }else {
                {#alert("无法更新配置信息！！！")#}
                my_showTip(data.message);
            }

        }
    })
}

    function deleteNative() {
        var s = document.getElementById("selectDatabase");
        var selectDatabase = s.options[s.selectedIndex].text;
        var version = $("#version").val();
        $.ajax({
        url:'/deleteNativeInfo',
        type:'post',
        dataType: 'json',
        data:{
            version:version,
            database:selectDatabase,
        },
        error:function(){
            alert('出现错误！');
        },success:function (data){
            if(data.status == 200){
                $('#showReportByVersion-1').modal('hide');
                genTable();
                {#location.reload();#}
            }else {
                {#alert("无法更新配置信息！！！")#}
                my_showTip(data.message);
            }

        }
    })

    }

    </script>
    <style type="text/css">
        .modal{overflow:auto!important;}
    </style>

{% endblock %}